[submodule "prior/segment-anything"]
	path = prior/segment-anything
	url = https://github.com/facebookresearch/segment-anything.git
[submodule "prior/lama"]
	path = prior/lama
	url = https://github.com/advimman/lama.git
[submodule "comparison/SPIN-NeRF"]
	path = comparison/SPIN-NeRF
	url = https://github.com/SamsungLabs/SPIn-NeRF.git
[submodule "prior/Grounded-Segment-Anything.git"]
	path = prior/Grounded-Segment-Anything.git
	url = https://github.com/IDEA-Research/Grounded-Segment-Anything.git
