[submodule "prior/segment-anything"]
	path = prior/segment-anything
	url = https://github.com/facebookresearch/segment-anything.git
[submodule "prior/lama"]
	path = prior/lama
	url = https://github.com/advimman/lama.git
[submodule "prior/Grounded-Segment-Anything"]
	path = prior/Grounded-Segment-Anything
	url = https://github.com/IDEA-Research/Grounded-Segment-Anything.git
